<mat-card>
    <h2>Analysis Page</h2>
  
    <!-- Trainee Selection -->
    <mat-form-field appearance="outline">
      <mat-label>Select Trainee IDs</mat-label>
      <mat-select [(ngModel)]="selectedTraineeIds" multiple (selectionChange)="loadCharts()">
        <mat-option *ngFor="let trainee of trainees()" [value]="trainee.id">
          {{ trainee.name }} (ID: {{ trainee.id }})
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <!-- Subject Selection -->
    <mat-form-field appearance="outline">
      <mat-label>Select Subjects</mat-label>
      <mat-select [(ngModel)]="selectedSubjects" multiple (selectionChange)="updateSubjects()">
        <mat-option *ngFor="let trainee of trainees()" [value]="trainee.subject">
          {{ trainee.subject }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <!-- Chart Container -->
    <div class="chart-container">
      <div class="chart-box" *ngFor="let chart of chartData; let i = index" cdkDropList>
        <h3>{{ chart.name }}</h3>
        <ngx-charts-bar-vertical
          [results]="chart.series"
          [scheme]="'cool'"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="true">
        </ngx-charts-bar-vertical>
        <button mat-button color="accent" (click)="swapCharts(i)">Swap with Bottom Chart</button>
      </div>
    </div>
  
    <!-- Bottom Hidden Chart Button -->
    <mat-card class="bottom-chart">
      <h3>Hidden Chart</h3>
      <ngx-charts-bar-vertical *ngIf="bottomChart"
        [results]="bottomChart.series"
        [scheme]="'cool'"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true">
      </ngx-charts-bar-vertical>
    </mat-card>
  </mat-card>
  