<mat-card class="analysis-page-container">
  <h2>Analysis Dashboard</h2>

  <!-- Filters -->
  <form [formGroup]="filterForm" (ngSubmit)="saveFilters()" class="filters">
    <mat-form-field>
      <mat-label>Select Trainee IDs</mat-label>
      <mat-select formControlName="traineeIds" multiple>
        <mat-option *ngFor="let trainee of trainees" [value]="trainee.id">
          {{ trainee.id }} - {{ trainee.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Select Subjects</mat-label>
      <mat-select formControlName="subjects" multiple>
        <mat-option *ngFor="let subject of subjects" [value]="subject">
          {{ subject }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-button type="submit" color="primary" (click)="applyFilters()">Apply Filters</button>
  </form>

  <!-- Displayed Charts Section -->
  <div cdkDropList class="chart-container" (cdkDropListDropped)="drop($event)">
    <div *ngFor="let chart of displayedCharts; let i = index" cdkDrag class="chart-box">
      <app-chart [chartType]="chart" [filters]="filterForm.value"></app-chart>
    </div>
  </div>

  <!-- Hidden Chart (Click to Replace Left Chart) -->
  <div class="hidden-chart" (click)="replaceWithHiddenChart()">
    <span>{{ hiddenChart }}</span>
  </div>
</mat-card>
